<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-center py-3 h3">Нарушители</div>
        <div class="panel-body">
            <div class=" mb-3 col row justify-content-center">
                <div class="form-check form-check-inline">
                    <input type="radio" id="fiz" ng-model="radioChecked.on" value="1">
                    <label class="form-check-label h4" for="fiz">Физические лица</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="org" ng-model="radioChecked.on" value="2">
                    <label class="form-check-label h4" for="org">Юридические лица</label>
                </div>
            </div>
            <div ng-if="radioChecked.on==='1'?true:false">
                <table ng-table="viaC.tableFiz" class="col bor-table table-sm table-hover table-condensed"
                       show-filter="true">
                    <tr class="cursor" ng-repeat="item in $data" ng-dblclick="viaC.modalShow(item)">
                        <td class="text-center" width="25%" title="'Личный номер'" filter="{ privateNumber: 'text'}" sortable="'privateNumber'">
                            <input type="hidden" ng-model="item.id"> {{item.privateNumber}}
                        </td>
                        <td class="text-center" width="30%" title="'Фамилия'" filter="{ firstName: 'text'}" sortable="'firstName'">
                            {{item.firstName}}
                        </td>
                        <td class="text-center" width="20%" title="'Имя'" filter="{ secondName: 'text'}" sortable="'secondName'">
                            {{item.secondName}}
                        </td>
                        <td class="text-center" width="25%" title="'Отчество'" filter="{ lastName: 'text'}" sortable="'lastName'">
                            {{item.lastName}}
                        </td>
                    </tr>
                </table>
            </div>
            <div ng-if="radioChecked.on==='2'?true:false">
                <table ng-table="viaC.tableOrg" class="col bor-table table-sm table-hover table-condensed"
                       show-filter="true">
                    <tr class="cursor" ng-repeat="item in $data" ng-dblclick="viaC.modalShow(item)">
                        <td class="text-center" width="20%" title="'УНП'" filter="{ privateNumber: 'text'}" sortable="'privateNumber'">
                            <input type="hidden" ng-model="item.id"> {{item.privateNumber}}
                        </td>
                        <td class="text-left pl-3" width="80%" title="'Название'" filter="{ firstName: 'text'}" sortable="'firstName'">
                            {{item.firstName}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="ModalSaveVialators" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="widht-modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" ng-if="radioChecked.on==='1'?true:false">{{!viaC.vialator.id ? 'Добавление' : 'Редактирвоание'}} физ.
                    лица</h4>
                <h4 class="modal-title" ng-if="radioChecked.on==='2'?true:false">{{!viaC.vialator.id ? 'Добавление' : 'Редактирвоание'}} юр.
                    лица</h4>
            </div>
            <div class="modal-body">
                <div class=" mb-3 col row justify-content-center">
                    <div class="form-check form-check-inline"
                         ng-if="viaC.vialator.typeVialator == 1 || viaC.vialator.typeVialator == null">
                        <input id="radioChecked1" type="radio" ng-model="radioChecked.on" value="1">
                        <label for="radioChecked1" class="form-check-label h4">Физическое лицо</label>
                    </div>
                    <div class="form-check form-check-inline"
                         ng-if="viaC.vialator.typeVialator == 2 || viaC.vialator.typeVialator == null">
                        <input id="radioChecked2" type="radio" ng-model="radioChecked.on" value="2">
                        <label for="radioChecked2" class="form-check-label h4">Юридическое лицо</label>
                    </div>
                </div>
                <div ng-show="radioChecked.on==='1'?true:false">
                    <form name="vialatorFormFiz" ng-submit="viaC.submit()" class="form-horizontal" role="form"
                          novalidate>
                        <input type="hidden" ng-model="viaC.vialator.id"/>
                        <div class="form-group row">
                            <label class="col-md-2 control-label" for="privateNumber">Личный номер</label>
                            <div class="col-md-10">
                                <input id="privateNumber"
                                       name="privateNumberModalVialator"
                                       type="text"
                                       class="form-control"
                                       ng-model="viaC.vialator.privateNumber"
                                       ng-pattern="/[0-9]{7}[A-Z]{1}[0-9]{3}[A-Z]{2}[0-9]{1}/"
                                       ng-required="true"/>
                                <span style="color:red"
                                      ng-show="vialatorFormFiz.privateNumberModalVialator.check && vialatorFormFiz.privateNumberModalVialator.$invalid">
                                    Введите личный номер латинскими символами в формате: 1234567X123XX1
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label" for="firstName">Фамилия</label>
                            <div class="col-md-10">
                                <input id="firstName"
                                       name="firstNameModalVialator"
                                       type="text" class="form-control"
                                       ng-model="viaC.vialator.firstName"
                                       ng-required="true"/>
                                <span style="color:red"
                                      ng-show="vialatorFormFiz.firstNameModalVialator.check && vialatorFormFiz.firstNameModalVialator.$error.required">
                                    Не может быть пустым!
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label" for="secondNameFiz">Имя</label>
                            <div class="col-md-10">
                                <input id="secondNameFiz"
                                       name="secondNameModalVialator"
                                       type="text"
                                       class="form-control"
                                       ng-model="viaC.vialator.secondName"
                                       ng-required="true"/>
                                <span style="color:red"
                                      ng-show="vialatorFormFiz.secondNameModalVialator.check && vialatorFormFiz.secondNameModalVialator.$error.required">
                                    Не может быть пустым!
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label" for="lastNameModalVialator">Отчество</label>
                            <div class="col-md-10">
                                <input id="lastNameModalVialator"
                                       name="lastNameModalVialator"
                                       type="text"
                                       class="form-control"
                                       ng-model="viaC.vialator.lastName"
                                       ng-required="true"/>
                                <span style="color:red"
                                      ng-show="vialatorFormFiz.lastNameModalVialator.check && vialatorFormFiz.lastNameModalVialator.$error.required">
                                    Не может быть пустым!
                                </span>
                            </div>
                        </div>
                        <div class="modal-footer row mr-0">
                            <input type="submit" value="{{!viaC.vialator.id ? 'Добавить' : 'Изменить'}}"
                                   class="btn btn-primary btn-sm">
                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Закрыть
                            </button>
                        </div>
                    </form>
                </div>
                <div ng-show="radioChecked.on==='2'?true:false">
                    <form name="vialatorFormUr" ng-submit="viaC.submit()" class="form-horizontal" role="form"
                          novalidate>
                        <input type="hidden" ng-model="viaC.vialator.id"/>
                        <div class="form-group row">
                            <label class="col-md-2 control-label" for="privateNumber">УНП</label>
                            <div class="col-md-10">
                                <input id="unpModalVialator"
                                       name="unpModalVialator"
                                       type="text"
                                       class="form-control"
                                       ng-model="viaC.vialator.privateNumber"
                                       ng-pattern="/[0-9]{9}/"
                                       ng-required="true"/>
                                <span style="color:red"
                                      ng-show="vialatorFormUr.unpModalVialator.check && vialatorFormUr.unpModalVialator.$invalid">
                                    Введите УНП в формате: 123456789
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label" for="firstName">Название</label>
                            <div class="col-md-10">
                                <input id="firstNameUrModalVialator"
                                       name="firstNameUrModalVialator"
                                       type="text"
                                       class="form-control"
                                       ng-model="viaC.vialator.firstName"
                                       ng-required="true"/>
                                <span style="color:red"
                                      ng-show="vialatorFormUr.firstNameUrModalVialator.check && vialatorFormUr.firstNameUrModalVialator.$error.required">
                                    Не может быть пустым!
                                </span>
                            </div>
                        </div>
                        <div class="modal-footer row mr-0">
                            <input type="submit" value="{{!viaC.vialator.id ? 'Добавить' : 'Сохранить'}}"
                                   class="btn btn-primary btn-sm">
                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Закрыть
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>