<div class="panel panel-default">
    <div class="panel-heading text-center py-3 h3">Авторы документов</div>
    <div class="panel-body">
        <div class=" mb-3 col row justify-content-end">
            <button type="button"
                    ng-click="autC.clearAuthor()"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#ModalSaveAuthor">Добавить автора
            </button>
        </div>
        <table ng-table="autC.tableParams" class="col bor-table table-sm table-hover table-condensed"
               show-filter="true">
            <tr class="cursor" ng-repeat="item in $data" ng-dblclick="autC.modalShow(item)">
                <td class="text-center" width="30%" title="'ФИО'" filter="{ name: 'text'}" sortable="'name'">
                    {{item.name}}
                </td>
                <td class="text-center" width="25%" title="'Должность'" filter="{ position: 'text'}" sortable="'position'">
                   {{item.position}}
                </td>
                <td class="text-left" width="10%" title="'Статус'" sortable="'activWork'">
                    {{item.activWork == 1 ? 'Работает' : 'Уволен' }}
                </td>
                <td class="text-left" width="35%" title="'Организация'" sortable="'organization.name'">
                    {{item.organization.name}}
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="ModalSaveAuthor" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="widht-modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{!autC.author.id ? 'Добавление' : 'Редактирвоание'}} автора</h4>
            </div>
            <div class="modal-body">
                <form name="authorForm" ng-submit="autC.submit()" class="form-horizontal" role="form" novalidate>
                    <input type="hidden" ng-model="autC.author.id"/>
                    <div class="form-group row">
                        <label class="col-md-2 control-label" for="nameSave">ФИО</label>
                        <div class="col-md-10">
                            <input id="nameSave"
                                   name="nameModalAuthor"
                                   type="text"
                                   class="form-control"
                                   ng-model="autC.author.name"
                                   ng-required="true"/>
                            <span style="color:red"
                                  ng-show="authorForm.nameModalAuthor.check && authorForm.nameModalAuthor.$error.required">
                                    Не может быть пустым!
                                </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label" for="positionSave">Должность</label>
                        <div class="col-md-10">
                            <input id="positionSave"
                                   name="positionModalAuthor"
                                   type="text"
                                   class="form-control"
                                   ng-model="autC.author.position"
                                   ng-required="true"/>
                            <span style="color:red"
                                  ng-show="authorForm.positionModalAuthor.check && authorForm.positionModalAuthor.$error.required">
                                    Не может быть пустым!
                                </span>
                        </div>
                    </div>
                    <div ng-show="autC.author.id != null" class="form-group row">
                        <label class="col-md-2 control-label">Статус</label>
                        <div class="col-md-10">
                            <select ng-value="autC.author.activWork" ng-model="autC.author.activWork"
                                    class="form-control">
                                <option value='true'>Работает</option>
                                <option value='false'>Уволен</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label">Организация</label>
                        <div class="col-md-10">
                            <ui-select id="organizationSelectForAuthor"
                                       name="organizationModalAuthor"
                                       ng-model="autC.author.organization"
                                       theme="selectize"
                                       title="Введите для поиска..."
                                       ng-required="true">
                                <ui-select-match placeholder="Введите для поиска...">{{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="item in autC.getAllOrganizations() | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span style="color:red"
                                  ng-show="authorForm.organizationModalAuthor.check && authorForm.organizationModalAuthor.$error.required">
                                    Не может быть пустым!
                                </span>
                        </div>
                    </div>
                    <div class="modal-footer row mr-0">
                        <input type="submit" value="{{!autC.author.id ? 'Добавить' : 'Сохранить'}}"
                               class="btn btn-primary btn-sm">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
