<div class="panel panel-default">
    <div class="panel-heading text-center h3 py-3">Организации</div>
    <div class="panel-body">
<!--
        <div class="scroll-table">
            <table class="bor-table table-sm table-hover col">
                <thead>
                <tr>
                    <th class="text-center" width="90%">Название</th>
                    <th class="text-center" width="10%"></th>
                </tr>
                <tr>
                    <th width="80%"><input type="text" class="form-control text-left" ng-model="search.name"
                                           placeholder="Найти"/></th>
                    <th width="5%"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in orgC.getAllOrganizations() | filter: search">
                    <td class="text-left pl-3">{{item.name}}</td>
                    <td>
                        <div ng-if="item.type !='1'" class="text-center">
                            <button type="button" data-toggle="modal"
                                    data-target="#ModalSaveOrganization" ng-click="orgC.editOrganization(item.id)"
                                    class="btn btn-sm btn-success custom-width">Редактировать
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        -->
        <div class=" mb-3 col row justify-content-end">
            <button type="button"
                    ng-click="orgC.clearOrganization()"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#ModalSaveOrganization">Добавить организацию
            </button>
        </div>
        <table ng-table="orgC.tableParams" class="col bor-table table-sm table-hover table-condensed"
               show-filter="true">
            <tr class="cursor" ng-repeat="item in $data" ng-dblclick="orgC.modalShow(item)">
                <td class="text-left pl-3" title="'Название'" filter="{ name: 'text'}" sortable="'name'">
                    {{item.name}}
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="ModalSaveOrganization" class="modal fade" role="dialog">
    <div class="widht-modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{!orgC.organization.id ? 'Добавление' : 'Редактирвоание'}} организации</h4>
            </div>
            <div class="modal-body">
                <form name="organizationForm" ng-submit="orgC.submit()" class="form-horizontal" role="form"
                      novalidate>
                    <input type="hidden" ng-model="orgC.organization.id"/>
                    <div class="form-group row">
                        <label class="col-md-2 control-label" for="nameInputSave">Название</label>
                        <div class="col-md-10">
                            <input id="nameInputSave"
                                   name="nameModalOrganization"
                                   type="text" class="form-control"
                                   ng-model="orgC.organization.name"
                                   ng-required="true"/>
                            <span style="color:red"
                                  ng-show="organizationForm.nameModalOrganization.check && organizationForm.nameModalOrganization.$error.required">
                                    Не может быть пустым!
                                </span>
                        </div>
                    </div>
                    <div class="modal-footer row mr-0">
                        <input type="submit" value="{{!orgC.organization.id ? 'Добавить' : 'Изменить'}}"
                               class="btn btn-primary btn-sm">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
