<div class="panel panel-default">
    <div class="panel-heading text-center h3">Статьи</div>
    <div class="panel-body">
        <div class=" mb-3 col row justify-content-end" ng-show="viewMenuAccses.authorities.length >1">
            <button type="button"
                    class="btn btn-primary"
                    ng-click="artC.clearArticle()"
                    data-toggle="modal"
                    data-target="#ModalSave">Добавить статью
            </button>
        </div>
        <table ng-table="artC.tableParams" class="col bor-table table-sm table-hover table-condensed"
               show-filter="true">
            <tr class="cursor" ng-repeat="item in $data" ng-dblclick="artC.modalShow(item)">
                <td class="text-center" width="10%" title="'Статья'" filter="{ article: 'text'}" sortable="'article'">
                    {{item.article}}
                </td>
                <td class="text-center" width="5%" title="'Часть'" filter="{ part: 'text'}" sortable="'part'">
                    <span ng-if="item.part != 0"> {{item.part}}</span>
                </td>
                <td class="text-left pl-3" width="85%" title="'Описание'" filter="{ note: 'text'}" sortable="'note'">
                    {{item.note}}
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="ModalSave" class="modal fade" role="dialog">
    <div class="widht-modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{!artC.article.id ? 'Добавление' : 'Редактирвоание'}} статьи</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="artC.submit()" class="form-horizontal" role="form">
                    <input type="hidden" ng-model="artC.article.id"/>
                    <div class="form-group row">
                        <label class="col-md-2 control-label" for="articleSave">Статья</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="articleSave" ng-model="artC.article.article"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label" for="partSave">Часть</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="partSave" ng-model="artC.article.part"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label" for="noteSave">Описание</label>
                        <div class="col-md-10">
                            <textarea type="text" class="form-control" id="noteSave" ng-model="artC.article.note"/>
                        </div>
                    </div>
                    <div class="modal-footer row mr-0">
                        <input type="submit" value="{{!artC.article.id ? 'Добавить' : 'Изменить'}}"
                               class="btn btn-primary btn-sm">
                        <button type="button" class="btn btn-sm" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>