<div class="panel panel-default">
    <div class="panel-heading text-center h3">Карточки</div>
    <div class="panel-body">
        <div class="m-0 row">

            <form name="getCardsForm" ng-submit="cdviewC.getCards()" class="form-horizontal" role="form"
                  novalidate>
                <div class=" mb-3 col row justify-content-start align-items-center">
                    <div class="col-md-1 "><p class="h6">C</p></div>
                    <div class="col-md-4">
                        <input id="dateFrom"
                               name="dateFrom"
                               type="date"
                               class="form-control "
                               ng-model="dateFrom"
                               ng-required="true"/>
                        <span style="color:red"
                              ng-show="getCardsForm.dateFrom.check && getCardsForm.dateFrom.$error.required">
                                   Не может быть пустым!
                                </span>
                    </div>
                    <div class="col-md-1"><p class="h6">ПО</p></div>
                    <div class="col-md-4">
                        <input id="dateTo"
                               name="dateTo"
                               type="date"
                               class="form-control"
                               ng-model="dateTo"
                               ng-required="true"/>
                        <span style="color:red"
                              ng-show="getCardsForm.dateTo.check && getCardsForm.dateTo.$error.required">
                                   Не может быть пустым!
                                </span>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="Загрузить"
                               class="btn btn-outline-primary"></div>
                </div>
            </form>

            <div class=" mb-3 col row justify-content-end align-items-center">
                <a href="#/card">
                    <button type="button" class="btn btn-primary mr-3">
                        Добавить карточку
                    </button>
                </a>
                <button id="removeButton" class="btn btn-danger" ng-click="cdviewC.showRemoveModal();">Удалить
                </button>
            </div>
        </div>

        <div class="scroll-table">
            <table id="myTable" class="bor-table table-sm table-hover">
                <thead>
                <tr>
                    <th class="text-center" width="10%">
                        <input type="text" class="form-control text-center" ng-model="search.cardNumber"
                                                                placeholder="Номер"/>
                    </th>
                    <th class="text-center" width="15%">Дата создания</th>
                    <th class="text-center" width="30%">Правонарушитель</th>
                    <th class="text-center" width="35%">Постановление</th>
                    <th class="text-center" width="10%">Дата решения</th>
                </tr>
                </thead>
                <tbody>
                <tr class="cursor" ng-click="cdviewC.setCardForRemove(item, this)" ng-dblclick="cdviewC.setCard(item)"
                    ondblclick="location.href ='#/card'"
                    ng-repeat="item in cdviewC.getAllCards() | filter:search | orderBy: '-createDate'">
                    <td>{{item.cardNumber}}</td>
                    <td>{{item.createDate | date: 'dd.MM.yyyy'}}</td>
                    <td>
                        <div ng-show="item.vialator.typeVialator != 2">
                            Л.Н.: {{item.vialator.privateNumber}}<br>
                            Ф.И.О: {{item.vialator.firstName}} {{item.vialator.secondName}}
                            {{item.vialator.lastName}}<br>
                        </div>
                        <div ng-show="item.vialator.typeVialator != 1">
                            УНП: {{item.vialator.privateNumber}}<br>
                            Название: {{item.vialator.firstName}}<br>
                        </div>
                    </td>
                    <td class="pl-3">
                        <div class="row p-0 m-0">
                            <div class="md-4">Организация:</div>
                            <div class="md-6 pl-1"> {{item.decreeAdm.organization.name}}</div>
                        </div>
                        <div class="row p-0 m-0">
                            <div class="md-4"></div>
                            <div class="md-6 pl-1"> {{item.decreeAdm.authorDocument.position}}
                                {{item.decreeAdm.authorDocument.name}}
                            </div>
                            <div class="md-4">, От: </div>
                            <div class="md-6 pl-1"> {{item.decreeAdm.decreeDate | date: 'dd.MM.yyyy'}}</div>
                        </div>

                    </td>
                    <td>
                        {{item.resultDate | date: 'dd.MM.yyyy'}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--
        <table id="myTable" name="myTable" ng-table="cdviewC.tableParams"
               class="col bor-table table-sm table-hover table-condensed"
               show-filter="true">
            <tr class="cursor" ng-repeat="item in $data" ng-click="cdviewC.setCardForRemove(item, this)"
                ng-dblclick="cdviewC.setCard(item)"
                ondblclick="location.href ='#/card'">
                <td class="text-left pl-3" width="10%" title="'Номер'" filter="{ cardNumber: 'text'}">
                    {{item.cardNumber}}
                </td>

                <td class="text-left pl-3" width="15%" title="'Дата создания'" sortable="'createDate'">
                    {{item.createDate | date: 'dd.MM.yyyy'}}
                </td>
                <td class="text-left pl-3" width="30%" title="'Правонарушитель'" sortable="'vialator.firstName'">
                    <div ng-show="item.vialator.typeVialator != 2">
                        Л.Н.: {{item.vialator.privateNumber}}<br>
                        Ф.И.О: {{item.vialator.firstName}} {{item.vialator.secondName}}
                        {{item.vialator.lastName}}<br>
                    </div>
                    <div ng-show="item.vialator.typeVialator != 1">
                        УНП: {{item.vialator.privateNumber}}<br>
                        Название: {{item.vialator.firstName}}<br>
                    </div>
                </td>
                <td class="text-left pl-3" width="35%" title="'Постановление'">
                    <div class="row p-0 m-0">
                        <div class="md-4">Организация:</div>
                        <div class="md-6 pl-1"> {{item.decreeAdm.organization.name}}</div>
                    </div>
                    <div class="row p-0 m-0">
                        <div class="md-4"></div>
                        <div class="md-6 pl-1"> {{item.decreeAdm.authorDocument.position}}
                            {{item.decreeAdm.authorDocument.name}}
                        </div>
                        <div class="md-4">, От:</div>
                        <div class="md-6 pl-1"> {{item.decreeAdm.decreeDate | date: 'dd.MM.yyyy'}}</div>
                    </div>
                </td>
                <td class="text-left pl-3" width="10%" title="'Дата решения'" sortable="'resultDate'">
                    {{item.resultDate | date: 'dd.MM.yyyy'}}
                </td>
            </tr>
        </table>
        -->
    </div>
</div>
<div id="ModalRemoveCard" class="modal fade" role="dialog">
    <div class="widht-modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Вы действительно хотите удалить карточку
                    №{{cdviewC.cardForRemove.cardNumber}}?</h4>
            </div>
            <div class="modal-body">
                <form name="organizationForm" ng-submit="cdviewC.removeCard()" class="form-horizontal" role="form"
                      novalidate>
                    <div class="modal-footer row mr-0">
                        <input type="submit" value="Удалить" class="btn btn-danger btn-sm">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>