<div class="panel panel-default">
    <div class="panel-heading text-center h3">Пользователи</div>
    <div class="panel-body">
        <div class=" mb-3 col row justify-content-end">
            <button type="button"
                    class="btn btn-primary"
                    ng-click=""
                    data-toggle="modal"
                    data-target="#ModalSave">Добавить пользователя
            </button>
        </div>
        <div class="scroll-table">
            <table class="bor-table table-sm table-hover">
                <thead>
                <tr>
                    <th class="text-center" width="10%">Имя</th>
                    <th class="text-center" width="10%">Логин</th>
                    <th class="text-center" width="10%">Роли</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in userC.findAllUsers()">
                    <td>{{item.name}}</td>
                    <td>{{item.username}}</td>
                    <td>{{item.authorities.toString()}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--
<div id="ModalSave" class="modal fade" role="dialog">
    <div class="widht-modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Добавление/Редактирование статьи</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="artC.submit()" class="form-horizontal" role="form">
                    <input type="hidden" ng-model="artC.article.id"/>
                    <div class="form-group row">
                        <label class="col-md-2 control-label" for="articleSave">Статья</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="articleSave" ng-model="artC.article.article"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label" for="partSave">Часть</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="partSave" ng-model="artC.article.part"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label" for="noteSave">Описание</label>
                        <div class="col-md-10">
                            <textarea type="text" class="form-control" id="noteSave" ng-model="artC.article.note"/>
                        </div>
                    </div>
                    <div class="modal-footer row mr-0">
                        <input type="submit" value="{{!artC.article.id ? 'Добавить' : 'Изменить'}}"
                               class="btn btn-primary btn-sm">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
-->