<div class="panel panel-default">
    <div class="panel-heading text-center h3">Результат рассмотрения</div>
    <div class="panel-body">
        <div class=" mb-3 col row justify-content-end">
            <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#ModalSave">Добавить Результат
            </button>
        </div>
        <div class="scroll-table">
            <table ng-table="resC.tableParams" class="col bor-table table-sm table-hover table-condensed"
                   show-filter="true">
                <tr class="cursor" ng-repeat="item in $data" ng-dblclick="resC.modalShow(item)">
                    <td class="text-left pl-3" title="'Название'" filter="{ name: 'text'}" sortable="'name'">
                        {{item.name}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="ModalSave" class="modal fade" role="dialog">
    <div class="widht-modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{!resC.result.id ? 'Добавление' : 'Редактирвоание'}} результата</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="resC.submit()" class="form-horizontal" role="form">
                    <input type="hidden" ng-model="resC.result.id"/>
                    <div class="form-group row">
                        <label class="col-md-2 control-label" for="nameSave">Название</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="nameSave" ng-model="resC.result.name"/>
                        </div>
                    </div>
                    <div class="modal-footer row mr-0">
                        <input type="submit" value="{{!resC.result.id ? 'Добавить' : 'Изменить'}}"
                               class="btn btn-primary btn-sm">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>