<div class=" col-md-4 col-md-offset-4" ng-controller="LoginController as logC">
    <div class="panel panel-default">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
            <div class="col-md-12">
                <form ng-submit="logC.login()">
                    <div class="form-group">
                        <label for="username">Username:</label> <input type="txt"
                                                                       class="form-control" ng-model="logC.user.username"
                                                                       id="username">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label> <input type="password"
                                                                  class="form-control" id="pwd" ng-model="logC.user.password">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                    <div class="alert alert-info margin-top-5" ng-show="message">{{logC.message}}</div>
                </form>
            </div>
        </div>
    </div>
</div>