/* Цвет выделения строки при наведении в таблице */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #6c757d;
}

.div-center{
    text-align: center;
}
/*Удаление отступов*/
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}