/* Цвет выделения строки при наведении в таблице */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #6c757d;
}
.div-center{
    text-align: center;
}
/*Удаление отступов*/
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

/* Ширина модального окна */
.widht-modal-dialog {
    max-width: 50%;
    margin: 1.75rem auto;
}

/* Цвет фона карточки */
.color-form{
    background-color: #e0e0e0;
}
/* Цвет фона заголовка карточки */
.color-form-title{
    background-color: #9cc3e0;
}