/* Цвет выделения строки при наведении в таблице */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #6c757d;
}

.div-center{
    text-align: center;
}
/*Удаление отступов*/
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

/* Размер модального окна организации */
.organization-modal-dialog {
    max-width: 70%;
    margin: 1.75rem auto;
}