<div ng-controller="CardController as cardC" class="card border-dark">
    <div class="card-header py-2">
        Карточка
    </div>
    <form ng-submit="cardC.submit()" class="form-horizontal" role="form">
        <input type="hidden" ng-model="cardC.card.id"/>
        <input type="hidden" ng-model="cardC.card.cardActiv"/>
        <div class="card-body">
            <div class="p-0 row">
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-md-5" for="numberCard">Номер карточки</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control btn-sm" id="numberCard"
                                   ng-model="cardC.card.cardNumber"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group row">
                        <label class="col-md-3" for="createCard">Дата создания</label>
                        <div class="col-md-4">
                            <input type="date" class="form-control btn-sm" id="createCard"
                                   ng-model="cardC.card.createDate"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-dark">
                <div class="card-header p-1 text-center color-form-title">
                    Постановление
                </div>
                <div class="card-body p-3">
                    <div class="form-group row mb-2">
                        <div class="col-md-4 pr-0">
                            <input type="text" class="form-control btn-sm"
                                   placeholder="Поиск по дате вынесения постановления"/>
                        </div>
                        <div class="col-md-2 pr-0">
                            <select id="decreeDate" class="form-control"
                                    ng-options="item.decreeDate for item in cardC.getAllRegulations() track by item.id"
                                    ng-model="cardC.card.decreeAdm">
                            </select>
                            <input type="hidden" ng-model="cardC.card.decreeAdm">
                        </div>
                        <div class="col-md-2 pr-0">
                            <select class="form-control" ng-model="cardC.card.decreeAdm">
                                <option ng-repeat="item in cardC.getAllRegulations()" ng-value="{{item}}">
                                    {{cardC.convertToDate(item.decreeDate)}} | {{item.organization.name}} | {{item.authorDocument.position}}
                                    {{item.authorDocument.name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-auto">
                            <input type="button" class="btn btn-outline-success btn-sm" value="Добавить"
                                   data-toggle="modal"
                                   data-target="#ModalSaveDecree"/>
                        </div>
                        <div class="col-md-auto">
                            <input type="button" class="btn btn-outline-primary btn-sm" value="Редактировать"
                                   data-toggle="modal"
                                   data-target="#ModalSaveDecree" ng-click="cardC.editDecree(cardC.card.decreeAdm.id)"/>
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <div class="col-md-4 pr-0">
                            <label for="organization">Организация</label>
                            <input type="text" class="form-control btn-sm" id="organization"
                                   ng-model="cardC.card.decreeAdm.organization.name" readonly/>
                        </div>
                        <div class="col-md-4 px-1">
                            <label for="position">Должность</label>
                            <input type="text" class="form-control btn-sm" id="position"
                                   ng-model="cardC.card.decreeAdm.authorDocument.position" readonly/>
                        </div>
                        <div class="col-md-2 px-1">
                            <label for="authorDocument">Фамилия И.О.</label>
                            <input type="text" class="form-control btn-sm" id="authorDocument"
                                   ng-model="cardC.card.decreeAdm.authorDocument.name" readonly/>
                        </div>
                        <div class="col-md-2 pl-0">
                            <label for="dateDecree">Дата</label>
                            <input type="date" class="form-control btn-sm" id="dateDecree"
                                   ng-model="cardC.card.decreeAdm.decreeDate" readonly/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-2 border-dark"
                 ng-show="cardC.card.decreeAdm.secondInstanceAdm != null || secondInstanceAdm">
                <div class="card-header p-1  text-center color-form-title">
                    Вторая инстанция
                </div>
                <div class="card-body px-3 py-2">
                    <div class="form-group row mb-0">
                        <div class="col-md-4 pr-0">
                            <label for="organizationSecondInstance">Организация</label>
                            <input type="text" class="form-control btn-sm" id="organizationSecondInstance"
                                   ng-model="cardC.card.decreeAdm.secondInstanceAdm.organization.name" readonly/>
                        </div>
                        <div class="col-md-4 px-1">
                            <label for="positionSecondInstance">Должность</label>
                            <input type="text" class="form-control btn-sm" id="positionSecondInstance"
                                   ng-model="cardC.card.decreeAdm.secondInstanceAdm.authorDocument.position" readonly/>
                        </div>
                        <div class="col-md-2 px-1">
                            <label for="authorDocumentSecondInstance">Фамилия И.О.</label>
                            <input type="text" class="form-control btn-sm" id="authorDocumentSecondInstance"
                                   ng-model="cardC.card.decreeAdm.secondInstanceAdm.authorDocument.name" readonly/>
                        </div>
                        <div class="col-md-2 pl-0">
                            <label for="dateDecreeSecondInstance">Дата</label>
                            <input type="date" class="form-control btn-sm" id="dateDecreeSecondInstance"
                                   ng-model="cardC.card.decreeAdm.secondInstanceAdm.decreeDate" readonly/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-2 border-dark mb-4">
                <div class="card-header p-1 text-center color-form-title">
                    <label>Нарушитель</label>
                </div>
                <div class="card-body py-2 px-3">
                    <div class="form-group row mb-2">
                        <div class="col-md-3 pr-0">
                            <input type="text" class="form-control btn-sm" placeholder="Личный номер / УНП"/>
                        </div>
                        <div class="col-md-3 pr-0">
                            <select id="vialatorPrivateNumber" class="form-control"
                                    ng-options="item.privateNumber for item in cardC.getAllVialators() track by item.id"
                                    ng-model="cardC.card.vialator">
                            </select>
                        </div>
                        <div class="col-md-auto">
                            <input type="button" class="btn btn-outline-success btn-sm" value="Добавить"
                                   data-toggle="modal"
                                   data-target="#ModalSaveVialators"/>
                        </div>
                        <div class="col-md-auto">
                            <input type="button" class="btn btn-outline-primary btn-sm" value="Изменить"/>
                        </div>
                    </div>
                    <div class="form-group row mb-0" ng-show="cardC.card.vialator.typeVialator ==1">
                        <div class="col-md-3 pr-0">
                            <label for="privateNumberFiz">Личный номер</label>
                            <input type="text" class="form-control btn-sm" id="privateNumberFiz"
                                   ng-model="cardC.card.vialator.privateNumber" readonly/>
                        </div>
                        <div class="col-md-3 px-1">
                            <label for="firstnameFiz">Фамилия</label>
                            <input type="text" class="form-control btn-sm" id="firstnameFiz"
                                   ng-model="cardC.card.vialator.firstName" readonly/>
                        </div>
                        <div class="col-md-3 px-1">
                            <label for="secondname">Имя</label>
                            <input type="text" class="form-control btn-sm" id="secondname"
                                   ng-model="cardC.card.vialator.secondName" readonly/>
                        </div>
                        <div class="col-md-3 pl-0">
                            <label for="lastname">Отчество</label>
                            <input type="text" class="form-control btn-sm" id="lastname"
                                   ng-model="cardC.card.vialator.lastName" readonly/>
                        </div>
                    </div>
                    <div class="form-group row mb-0" ng-show="cardC.card.vialator.typeVialator ==2">
                        <div class="col-md-3 pr-1">
                            <label for="privateNumberOrg">УНП</label>
                            <input type="text" class="form-control btn-sm" id="privateNumberOrg"
                                   ng-model="cardC.card.vialator.privateNumber" readonly/>
                        </div>
                        <div class="col-md-9 pl-0">
                            <label for="firstnameOrg">Название</label>
                            <input type="text" class="form-control btn-sm" id="firstnameOrg"
                                   ng-model="cardC.card.vialator.firstName" readonly/>
                        </div>

                    </div>
                </div>
            </div>
            <div class="p-0 row">
                <div class="row col-md-12 pr-0">
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label class="col-md-4 pr-0" for="articleNumber">Статья</label>
                            <div class="col-md-8 p-0">
                                <select id="articleNumber" class="form-control"
                                        ng-options="item.article for item in cardC.getAllArticles() track by item.id"
                                        ng-model="cardC.card.articleAdm">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 pr-0">
                        <div class="form-group row">
                            <label class="col-md-4" for="entityDecree">Сущность постановления</label>
                            <div class="col-md-8">
                                <select id="entityDecree" class="form-control"
                                        ng-options="item.name for item in cardC.getAllNamesEntityDecree() track by item.id"
                                        ng-model="cardC.card.entityDecreeAdm.nameEntityDecreeAdm">
                                </select>
                            </div>
                        </div>
                        <input type="hidden" ng-model="cardC.card.entityDecreeAdm.id"/>
                    </div>
                </div>
                <div class="row col-md-12 pr-0">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8 pr-0">
                        <div class="form-group row">
                            <label class="col-md-4" for="entityDecree">Дополнительная информация</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control btn-sm" id="infoEntityDecree"
                                       ng-model="cardC.card.entityDecreeAdm.prim"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="noteEntityDecree">Примечание к постановлению</label>
                <textarea class="form-control btn-sm" id="noteEntityDecree" rows="2"
                          ng-model="cardC.card.noteArticle"></textarea>
            </div>
            <div ng-show="cardC.card.id != null">
                <div class="card border-dark mt-2">
                    <div class="card-header p-1  text-center color-form-title">
                        <label>Жалобы</label>
                    </div>
                    <div class="card-body py-2 px-3">
                        <table class="table table-striped table-bordered table-sm table-hover mb-0">
                            <div class="row justify-content-end pr-3 pb-2">
                                <input type="button" class="btn btn-outline-success btn-sm" value="Добавить"/>
                                <input type="button" class="btn btn-outline-primary btn-sm" value="Изменить"/>
                                <input type="button" class="btn btn-outline-danger btn-sm" value="Удалить"/>
                            </div>
                            <thead>
                            <tr>
                                <th class="div-center" width="15%">Дата</th>
                                <th class="div-center" width="40%">Сужность жалобы</th>
                                <th class="div-center" width="20%">Автор</th>
                                <th class="div-center" width="15%">Сумма госпошлины</th>
                                <th class="div-center" width="10%">Дан ответ</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{item.complainDate}}</td>
                                <td>{{item.entityIskAdm.name}}</td>
                                <td>{{item.nameAuthorComplaint}}</td>
                                <td>{{item.summPoshlini}}</td>
                                <td>{{item.activ== 1 ? 'Да' : 'Нет' }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card border-dark my-3">
                    <div class="card-header p-1 text-center color-form-title">
                        Поступление дел при истребовании
                    </div>
                    <div class="card-body py-2 px-3">
                        <table class="table table-striped table-bordered table-sm table-hover mb-0">
                            <div class="row justify-content-end pr-3 pb-2">
                                <input type="button" class="btn btn-outline-success btn-sm" value="Добавить"/>
                                <input type="button" class="btn btn-outline-primary btn-sm" value="Изменить"/>
                                <input type="button" class="btn btn-outline-danger btn-sm" value="Удалить"/>
                            </div>
                            <thead>
                            <tr>
                                <th class="div-center" width="15%">Дата</th>
                                <th class="div-center" width="85%">Организация</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label for="judge">Судья</label>
                        <select id="judge" class="form-control"
                                ng-options="item.name for item in cardC.getAllAuthors() track by item.id"
                                ng-model="cardC.card.judge">
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="resultDate">Дата рассмотрения</label>
                        <input type="date" class="form-control btn-sm" id="resultDate"
                               ng-model="cardC.card.resultDate"/>
                    </div>
                    <div class="col-md-7">
                        <label for="result">Результат рассмотрения</label>
                        <select id="result" class="form-control"
                                ng-options="item.name for item in cardC.getAllResults() track by item.id"
                                ng-model="cardC.card.resultAdmCase">
                        </select>
                    </div>
                </div>
                <div class="card border-dark mb-3">
                    <div class="card-header p-1  text-center color-form-title">
                        Возвращение дел
                    </div>
                    <div class="card-body py-2 px-3">
                        <table class="table table-striped table-bordered table-sm table-hover mb-0">
                            <div class="row justify-content-end pr-3 pb-2">
                                <input type="button" class="btn btn-outline-success btn-sm" value="Добавить"/>
                                <input type="button" class="btn btn-outline-primary btn-sm" value="Изменить"/>
                                <input type="button" class="btn btn-outline-danger btn-sm" value="Удалить"/>
                            </div>
                            <thead>
                            <tr>
                                <th class="div-center" width="15%">Дата</th>
                                <th class="div-center" width="85%">Организация</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <label for="note">Примечание</label>
                    <textarea class="form-control btn-sm" id="note" rows="2" ng-model="cardC.card.note"></textarea>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col col-md-2">
                    <input type="button" class="btn btn-primary" onclick="location.href = 'index.html#!/'"
                           value="Назад"/>
                </div>
                <div class="col col-md-2">
                    <input type="submit" class="btn btn-success"
                           value="{{!cardC.card.id ? 'Добавить' : 'Редактирвоать'}}"/>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- --------------------------------------------   Modal windows --------------------------------------------------- -->
<div ng-controller="DecreeController as decC">
    <div id="ModalSaveDecree" class="modal fade" role="dialog">
        <div class="widht-modal-dialog modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Добавление/Редактирование постановления</h4>
                </div>
                <div class="modal-body">
                    <form ng-submit="decC.submit()" class="form-horizontal" role="form">
                        <input type="hidden" ng-model="decC.decree.id"/>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">Организация</label>
                            <div class="col-md-7">
                                <select class="form-control"
                                        ng-options="item.name for item in decC.getAllOrganizations() track by item.id"
                                        ng-model="decC.decree.organization">
                                </select>
                            </div>
                            <div class="col-md-2 row justify-content-md-end">
                                <input type="button" class="btn btn-outline-success btn-sm" value="Добавить"
                                       data-toggle="modal"
                                       data-target="#ModalSaveOrganization"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">Автор</label>
                            <div class="col-md-7">
                                <select class="form-control"
                                        ng-options="item.name for item in decC.getAllAuthors() track by item.id"
                                        ng-model="decC.decree.authorDocument">
                                </select>
                            </div>
                            <div class="col-md-2 row justify-content-md-end">
                                <input type="button" class="btn btn-outline-success btn-sm" value="Добавить"
                                       data-toggle="modal"
                                       data-target="#ModalSaveAuthor"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">Должность</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="decC.decree.authorDocument.position"
                                       disabled/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">Дата</label>
                            <div class="col-md-7 row pr-0">
                                <div class="col-md-5 pr-0">
                                    <input type="date" class="form-control btn-sm" ng-model="decC.decree.decreeDate"/>
                                </div>
                                <div class="col-md-4 pr-0">
                                    <label class="control-label">Вступило в силу</label>
                                </div>
                                <div class="col-md-3 px-0">
                                    <select ng-value="decC.decree.enteredIntoForce"
                                            ng-model="decC.decree.enteredIntoForce"
                                            class="form-control">
                                        <option value='true'>Да</option>
                                        <option value='false'>Нет</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 control-label">Вторая инстанция</label>
                            <div class="col-md-7">
                                <select class="form-control"
                                        ng-options="item.id for item in decC.getAllSecondInstance() track by item.id"
                                        ng-model="decC.decree.secondInstanceAdm">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="col-md-2 row justify-content-md-end">
                                <input type="button" class="btn btn-outline-success btn-sm" value="Добавить"
                                       data-toggle="modal"
                                       data-target="#ModalSaveSecondInstance"/>
                            </div>
                        </div>
                        <div class="modal-footer row mr-0">
                            <input type="submit" value="{{!decC.decree.id ? 'Добавить' : 'Обновить'}}"
                                   class="btn btn-primary btn-sm">
                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Закрыть</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-controller="OrgController as orgC">
    <div id="ModalSaveOrganization" class="modal fade" role="dialog">
        <div class="widht-modal-dialog modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Добавление/редактирование организации</h4>
                </div>
                <div class="modal-body">
                    <form ng-submit="orgC.submit()" class="form-horizontal" role="form">
                        <input type="hidden" ng-model="orgC.organization.id"/>
                        <div class="form-group row">
                            <label class="col-md-2 control-label" for="nameInputSave">Название</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="nameInputSave"
                                       ng-model="orgC.organization.name"/>
                            </div>
                        </div>
                        <div class="modal-footer row mr-0">
                            <input type="submit" value="{{!orgC.organization.id ? 'Добавить' : 'Обновить'}}"
                                   class="btn btn-primary btn-sm">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-controller="AuthorController as autC">
    <div id="ModalSaveAuthor" class="modal fade" role="dialog">
        <div class="widht-modal-dialog modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Добавление/Редактирование автора</h4>
                </div>
                <div class="modal-body">
                    <form ng-submit="autC.submit()" class="form-horizontal" role="form">
                        <input type="hidden" ng-model="autC.author.id"/>
                        <div class="form-group row">
                            <label class="col-md-2 control-label" for="nameSave">ФИО</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="nameSave" ng-model="autC.author.name"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label" for="positionSave">Должность</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="positionSave"
                                       ng-model="autC.author.position"/>
                            </div>
                        </div>
                        <div ng-show="autC.author.id != null" class="form-group row">
                            <label class="col-md-2 control-label">Статус</label>
                            <div class="col-md-10">
                                <select ng-value="autC.author.activWork" ng-model="autC.author.activWork"
                                        class="form-control">
                                    <option value='true'>Работает</option>
                                    <option value='false'>Уволен</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label">Организация</label>
                            <div class="col-md-10">
                                <select class="form-control"
                                        ng-options="item.name for item in autC.getAllOrganizations() track by item.id"
                                        ng-model="autC.author.organization">
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer row mr-0">
                            <input type="submit" value="{{!autC.author.id ? 'Добавить' : 'Обновить'}}"
                                   class="btn btn-primary btn-sm">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-controller="SecondInstanceController as secIC">
    <div id="ModalSaveSecondInstance" class="modal fade" role="dialog">
        <div class="widht-modal-dialog modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Добавление/Редактирование инстанции</h4>
                </div>
                <div class="modal-body">
                    <form ng-submit="secIC.submit()" class="form-horizontal" role="form">
                        <input type="hidden" ng-model="secIC.secondInstance.id"/>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">Организация</label>
                            <div class="col-md-7">
                                <select class="form-control"
                                        ng-options="item.name for item in secIC.getAllOrganizations() track by item.id"
                                        ng-model="secIC.secondInstance.organization">
                                </select>
                            </div>
                            <div class="col-md-2 row justify-content-md-end">
                                <input type="button" class="btn btn-outline-success btn-sm" value="Добавить"
                                       data-toggle="modal"
                                       data-target="#ModalSaveOrganization"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">Автор</label>
                            <div class="col-md-7">
                                <select class="form-control"
                                        ng-options="item.name for item in secIC.getAllAuthors() track by item.id"
                                        ng-model="secIC.secondInstance.authorDocument">
                                </select>
                            </div>
                            <div class="col-md-2 row justify-content-md-end">
                                <input type="button" class="btn btn-outline-success btn-sm" value="Добавить"
                                       data-toggle="modal"
                                       data-target="#ModalSaveAuthor"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">Дата</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="secIC.secondInstance.decreeDate"/>
                            </div>
                        </div>
                        <div class="modal-footer row mr-0">
                            <input type="submit" value="{{!secIC.secondInstance.id ? 'Добавить' : 'Обновить'}}"
                                   class="btn btn-primary btn-sm">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-controller="VialatorController as viaC">
    <div id="ModalSaveVialators" class="modal fade" role="dialog">
        <div class="widht-modal-dialog modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" ng-if="radioChecked.on==='1'?true:false">Добавление/Редактирование физ. лица</h4>
                    <h4 class="modal-title" ng-if="radioChecked.on==='2'?true:false">Добавление/Редактирование юр. лица</h4>
                </div>
                <div class="modal-body">
                    <div class=" mb-3 col row justify-content-center">
                        <div class="form-check form-check-inline">
                            <input type="radio" ng-model="radioChecked.on" value="1">
                            <label class="form-check-label h4">Физические лица</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" ng-model="radioChecked.on" value="2">
                            <label class="form-check-label h4">Юридические лица</label>
                        </div>
                    </div>
                    <div  ng-if="radioChecked.on==='1'?true:false">
                        <form ng-submit="viaC.submit()" class="form-horizontal" role="form">
                            <input type="hidden" ng-model="viaC.vialator.id"/>
                            <div class="form-group row">
                                <label class="col-md-2 control-label" for="privateNumber">Личный номер</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="privateNumber"
                                           ng-model="viaC.vialator.privateNumber"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 control-label" for="firstName">Фамилия</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="firstName"
                                           ng-model="viaC.vialator.firstName"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 control-label" for="secondName">Имя</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" ng-model="viaC.vialator.secondName"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 control-label" for="lastName">Отчество</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" ng-model="viaC.vialator.lastName"/>
                                </div>
                            </div>
                            <div class="modal-footer row mr-0">
                                <input type="submit" value="{{!viaC.vialator.id ? 'Добавить' : 'Обновить'}}"
                                       class="btn btn-primary btn-sm">
                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Закрыть</button>
                            </div>
                        </form>
                    </div>
                    <div  ng-if="radioChecked.on==='2'?true:false">
                        <form ng-submit="viaC.submit()" class="form-horizontal" role="form">
                            <input type="hidden" ng-model="viaC.vialator.id"/>
                            <div class="form-group row">
                                <label class="col-md-2 control-label" for="privateNumber">УНП</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control"
                                           ng-model="viaC.vialator.privateNumber"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 control-label" for="firstName">Название</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control"
                                           ng-model="viaC.vialator.firstName"/>
                                </div>
                            </div>
                            <div class="modal-footer row mr-0">
                                <input type="submit" value="{{!viaC.vialator.id ? 'Добавить' : 'Обновить'}}"
                                       class="btn btn-primary btn-sm">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>