<div class="panel panel-default">
    <div class="panel-heading div-center h3">Сущжность жалобы</div>
    <div class="panel-body">
        <div class=" mb-3 col row justify-content-end">
            <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#ModalSave"
                    data-organization="{{}}">Добавить сущность
            </button>
        </div>
        <table class="table table-striped table-bordered table-sm table-hover">
            <thead>
            <tr>
                <th class="div-center" width="5%">id</th>
                <th class="div-center" width="75%">Название</th>
                <th class="div-center" width="5%"></th>
                <th class="div-center" width="5%"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in entC.getAllEntities()">
                <td class="div-center">{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>
                        <button type="button"data-toggle="modal"
                                data-target="#ModalSave" ng-click="entC.editEntity(item.id)" class="btn btn-success custom-width">Редактировать</button>
                </td>
                <td>
                    <div class="div-center">
                        <div class="div-center">
                            <button class="btn btn-danger" ng-click="entC.removeEntity(item.id);">Удалить</button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="ModalSave" class="modal fade" role="dialog">
    <div class="widht-modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Добавление/Редактирование сущности</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="entC.submit()" class="form-horizontal" role="form">
                    <input type="hidden" ng-model="entC.entity.id" />
                    <div class="form-group row">
                        <label class="col-md-2 control-label" for="nameSave">Название</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="nameSave" ng-model="entC.entity.name"/>
                        </div>
                    </div>
                    <div class="modal-footer row mr-0">
                        <input type="submit"  value="{{!entC.entity.id ? 'Добавить' : 'Обновить'}}" class="btn btn-primary btn-sm">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>