<div class="panel panel-default">
    <div class="panel-heading div-center h3">Авторы документов</div>
    <div class="panel-body">
        <div class=" mb-3 col row justify-content-end">
            <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#ModalSave"
                    data-organization="{{}}">Добавить автора
            </button>
        </div>
        <table class="table table-striped table-bordered table-sm table-hover">
            <thead>
            <tr>
                <th class="div-center" width="5%">id</th>
                <th class="div-center" width="25%">ФИО</th>
                <th class="div-center" width="15%">Должность</th>
                <th class="div-center" width="10">Статус</th>
                <th class="div-center" width="35%">Организация</th>
                <th class="div-center" width="5%"></th>
                <th class="div-center" width="5%"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in autC.getAllAuthors()">
                <td class="div-center">{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.position}}</td>
                <td>{{item.activWork == 1 ? 'Работает' : 'Уволен' }}</td>
                <td>{{item.organization.name}}</td>
                <td>
                    <div ng-if="item.type !='1'" class="div-center">
                        <button type="button" data-toggle="modal"
                                data-target="#ModalSave" ng-click="autC.editAuthor(item.id)"
                                class="btn btn-sm btn-success custom-width">Редактировать
                        </button>
                    </div>
                </td>
                <td>
                    <div class="div-center">
                        <div class="div-center">
                            <button class="btn btn-sm btn-danger" ng-click="autC.removeAuthor(item.id);">Удалить</button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div id="ModalSave" class="modal fade" role="dialog">
    <div class="widht-modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Добавление/Редактирование автора</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="autC.submit()" class="form-horizontal" role="form">
                    <input type="hidden" ng-model="autC.author.id"/>
                    <div class="form-group row">
                        <label class="col-md-2 control-label" for="nameSave">ФИО</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="nameSave" ng-model="autC.author.name"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label" for="positionSave">Должность</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="positionSave" ng-model="autC.author.position"/>
                        </div>
                    </div>
                    <div ng-show="autC.author.id != null" class="form-group row">
                        <label class="col-md-2 control-label">Статус</label>
                        <div class="col-md-10">
                            <select ng-value="autC.author.activWork" ng-model="autC.author.activWork"
                                    class="form-control">
                                <option value='true'>Работает</option>
                                <option value='false'>Уволен</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label">Организация</label>
                        <div class="col-md-10">
                            <select class="form-control"
                                    ng-options="item.name for item in autC.getAllOrganizations() track by item.id"
                                    ng-model="autC.author.organization">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer row mr-0">
                        <input type="submit" value="{{!autC.author.id ? 'Добавить' : 'Обновить'}}"
                               class="btn btn-primary btn-sm">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

