<div class="panel panel-default">
    <div class="panel-heading div-center h3">Карточки</div>
    <div class="panel-body">
        <div class=" mb-3 col row justify-content-end">
            <button type="button" class="btn btn-primary" onclick="location.href = 'index.html#!/card'">Добавить карточку
            </button>
        </div>
        <table class="table table-striped table-bordered table-sm table-hover">
            <thead>
            <tr>
                <th class="div-center" width="5%">id</th>
                <th class="div-center" width="5%">Номер</th>
                <th class="div-center" width="10%">Дата</th>
                <th class="div-center" width="30%">Постановление</th>
                <th class="div-center" width="20%">Правонарушитель</th>
                <th class="div-center" width="20%">Жалоба</th>
                <th class="div-center" width="5%"></th>
                <th class="div-center" width="5%"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in cdviewC.getAllCards()">
                <td class="div-center">{{item.id}}</td>
                <td>{{item.cardNumber}}</td>
                <td>{{item.createDate}}</td>
                <td>

                        <div class="row nopadding">
                            <div class="md-4">Организация:</div>
                            <div class="md-6 pl-1"> {{item.decreeAdm.organization.name}}</div>
                        </div>
                        <div class="row nopadding">
                            <div class="md-4">Автор:</div>
                            <div class="md-6 pl-1"> {{item.decreeAdm.authorDocument.position}}
                                {{item.decreeAdm.authorDocument.name}}
                            </div>
                        </div>
                        <div class="row nopadding">
                            <div class="md-4">От:</div>
                            <div class="md-6 pl-1"> {{item.decreeAdm.decreeDate}}</div>
                        </div>

                </td>
                <td>
                    <div ng-show="item.vialator.typeVialator != 2">
                        Л.Н.: {{item.vialator.privateNumber}}<br>
                        Фамилия: {{item.vialator.firstName}}<br>
                        Имя: {{item.vialator.secondName}}<br>
                        Отчество: {{item.vialator.lastName}}<br>
                    </div>
                    <div ng-show="item.vialator.typeVialator != 1">
                        УНП: {{item.vialator.privateNumber}}<br>
                        Название: {{item.vialator.firstName}}<br>
                    </div>
                </td>
                <td>
                    {{item.cardNumber}}
                </td>
                <td>
                    <button type="button" class="btn btn-primary" ng-click="cdviewC.setCard(item)" onclick="location.href = 'index.html#!/card'">Редактировать
                    </button>
                </td>
                <td>
                    <div class="div-center">
                        <button class="btn btn-danger btn-sm" ng-click="cdviewC.removeCard(item.id);">Удалить</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>