<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading div-center h3">Нарушители</div>
        <div class="panel-body">
            <div class=" mb-3 col row justify-content-end">
                <div ng-if="radioChecked.on==='1'?true:false">
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#ModalSaveFiz">Добавить физ. лицо
                    </button>
                </div>
                <div ng-if="radioChecked.on==='2'?true:false">
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#ModalSaveOrg">Добавить юр. лицо
                    </button>
                </div>
            </div>
            <div class=" mb-3 col row justify-content-center">
                <div class="form-check form-check-inline">
                    <input type="radio" id="fiz" ng-model="radioChecked.on" value="1">
                    <label class="form-check-label h4" for="fiz">Физические лица</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="org" ng-model="radioChecked.on" value="2">
                    <label class="form-check-label h4" for="org">Юридические лица</label>
                </div>
            </div>

            <div ng-if="radioChecked.on==='1'?true:false">
                <table class="table table-striped table-bordered table-sm table-hover">
                    <thead>
                    <tr>
                        <th class="div-center" width="5%">id</th>
                        <th class="div-center" width="5%">Тип</th>
                        <th class="div-center" width="15%">Личный номер</th>
                        <th class="div-center" width="20%">Фамилия</th>
                        <th class="div-center" width="17.5%">Имя</th>
                        <th class="div-center" width="17.5%">Отчество</th>
                        <th class="div-center" width="15%"></th>
                        <th class="div-center" width="5%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in viaC.getAllVialatorsFiz()">
                        <td class="div-center">{{item.id}}</td>
                        <td class="div-center">{{item.typeVialator}}</td>
                        <td class="div-center">{{item.privateNumber}}</td>
                        <td class="div-center">{{item.firstName}}</td>
                        <td class="div-center">{{item.secondName}}</td>
                        <td class="div-center">{{item.lastName}}</td>
                        <td>
                            <button type="button"data-toggle="modal"
                                    data-target="#ModalSaveFiz" ng-click="viaC.editVialator(item.id)" class="btn btn-success custom-width">Редактировать</button>
                        </td>
                        <td>
                            <div class="div-center">
                                <div class="div-center">
                                    <button class="btn btn-danger" ng-click="viaC.removeVialator(item.id);">Удалить</button>
                                </div>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div ng-if="radioChecked.on==='2'?true:false">
                <table class="table table-striped table-bordered table-sm table-hover">
                    <thead>
                    <tr>
                        <th class="div-center" width="5%">id</th>
                        <th class="div-center" width="5%">Тип</th>
                        <th class="div-center" width="10%">УНП</th>
                        <th class="div-center" width="70%">Название</th>
                        <th class="div-center" width="5%"></th>
                        <th class="div-center" width="5%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in viaC.getAllVialatorsOrg()">
                        <td class="div-center">{{item.id}}</td>
                        <td class="div-center">{{item.typeVialator}}</td>
                        <td class="div-center">{{item.privateNumber}}</td>
                        <td class="div-center">{{item.firstName}}</td>
                        <td>
                                <button type="button"data-toggle="modal"
                                        data-target="#ModalSaveFiz" ng-click="viaC.editVialator(item.id)" class="btn btn-success custom-width">Редактировать</button>
                        </td>
                        <td>
                            <div class="div-center">
                                <div class="div-center">
                                    <button class="btn btn-danger" ng-click="viaC.removeVialator(item.id);">Удалить</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="ModalSaveFiz" class="modal fade" role="dialog">
    <div class="widht-modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Добавление/Редактирование физ. лица</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="viaC.submit()" class="form-horizontal" role="form">
                    <input type="hidden" ng-model="viaC.vialator.id"/>
                    <div class="form-group row">
                        <label class="col-md-2 control-label" for="privateNumber">Личный номер</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="privateNumber" ng-model="viaC.vialator.privateNumber"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label" for="firstName">Фамилия</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="firstName" ng-model="viaC.vialator.firstName"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label" for="secondName">Имя</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="secondName" ng-model="viaC.vialator.secondName"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label" for="lastName">Отчество</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="lastName" ng-model="viaC.vialator.lastName"/>
                        </div>
                    </div>
                    <div class="modal-footer row mr-0">
                        <input type="submit"  value="{{!viaC.vialator.id ? 'Добавить' : 'Обновить'}}" class="btn btn-primary btn-sm">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="ModalSaveOrg" class="modal fade" role="dialog">
    <div class="widht-modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Добавление/Редактирование юр. лица</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="viaC.submit()" class="form-horizontal" role="form">
                    <input type="hidden" ng-model="viaC.vialator.id" />
                    <div class="form-group row">
                        <label class="col-md-2 control-label" for="UNP">УНП</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="UNP" ng-model="viaC.vialator.privateNumber"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label" for="orgName">Название</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="orgName" ng-model="viaC.vialator.firstName"/>
                        </div>
                    </div>
                    <div class="modal-footer row mr-0">
                        <input type="submit"  value="{{!viaC.vialator.id ? 'Добавить' : 'Обновить'}}" class="btn btn-primary btn-sm">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>