<div class="container p-0">
    <div class="panel panel-default">
        <div class="row justify-content-center">
            <div class="pt-3 h5">СПРАВКА О РЕХУЛЬТАТАХ РАССМОТРЕНИЯ ЖАЛОБ (ПРОТЕСТОВ) НА ВСТУПИВШИЕ В ЗАКОННУЮ СИЛУ
            </div>
            <div class="h5">ПОСТАНОВЛЕНИЙ ПО ДЕЛАМОБ АДМИНИСТРАТИВНЫХ ПРАВОНАРУШЕНИЙ</div>
        </div>
        <form name="reportForm" ng-submit="repC.getReport(dateFrom, dateTo)" class="form-horizontal" role="form"
              novalidate>
            <div class="panel panel-default row m-0 py-3 justify-content-center ">
                <div class="col-md-auto"><p class="h5">C</p></div>
                <div class="col-md-auto">
                    <input id="dateFrom"
                           name="dateFrom"
                           type="date"
                           class="form-control "
                           ng-model="dateFrom"
                           ng-required="true"/>
                    <span style="color:red"
                          ng-show="reportForm.dateFrom.check && reportForm.dateFrom.$error.required">
                                   Не может быть пустым!
                                </span>
                </div>
                <div class="col-md-auto"><p class="h5">ПО</p></div>
                <div class="col-md-auto">
                    <input id="dateTo"
                           name="dateTo"
                           type="date"
                           class="form-control"
                           ng-model="dateTo"
                           ng-required="true"/>
                    <span style="color:red"
                          ng-show="reportForm.dateTo.check && reportForm.dateTo.$error.required">
                                   Не может быть пустым!
                                </span>
                </div>
                <div class="col-md-auto">
                    <input type="submit" value="Сформировать"
                           class="btn btn btn-outline-primary btn-sm"></div>
            </div>
        </form>
        <div class="panel-body">
            <table cellpadding="0" cellspacing="0" align="center" class="bor">
                <tr>
                    <td class="td1" rowspan="2"></td>
                    <td colspan="2" class="h6 td1">Рассм. жалоб на<br> постановлен. об<br> отказе в востан.<br>
                        пропущенного<br> срока на обжал.
                        (опротестование)
                    </td>
                    <td rowspan="2" class="td1 h6 rotate rotate-m-0">
                        <div style="margin-left: -9em; margin-right: -9em">Рассмотрено дел с жалобами (протестами)</div>
                    </td>
                    <td colspan="8" class="td1 h6" style="text-align: center;vertical-align: middle;">Результат
                        рассмотрения
                    </td>
                </tr>
                <tr>
                    <td height="300px" class="td1 h6 rotate">
                        <div>удовлетворено</div>
                    </td>
                    <td class="h6 rotate">
                        <div>отклонено</div>
                    </td>
                    <td class="h6 rotate">
                        <div style="margin-left: -6em; margin-right: -6em">оставлено постановлений без<br>изменений, а
                            жалоб (протест) без<br>удовлетворения
                        </div>
                    </td>
                    <td class="h6 rotate">
                        <div style="margin-left: -7em; margin-right: -7em">отменено постановление полностью<br> или в
                            части и прекращено дело об<br> административном правонарушении
                        </div>
                    </td>
                    <td class="h6 rotate">
                        <div>из них отменено постановлений<br> полностью с прекращением<br> производства по делу в связи
                            с<br> возбуждением уголовного дела
                        </div>
                    </td>
                    <td class="h6 rotate">
                        <div style="margin-left: -7em; margin-right: -7em">отменено постановлений полностью<br> или в
                            части и направлено дело на<br> новое рассмотрение
                        </div>
                    </td>
                    <td class="h6 rotate">
                        <div>отменено последнее по времени<br> постановление и оставлено в силе<br> одно из ранее
                            вынесенных по делу<br> постановлений
                        </div>
                    </td>
                    <td class="h6 rotate">
                        <div>изменено постановлений</div>
                    </td>
                    <td class="h6 rotate">
                        <div style="margin-left: -6em; margin-right: -6em">направлено на рассмотрение в<br> другие
                            органы
                        </div>
                    </td>
                    <td class="h6 rotate">
                        <div style="margin-left: -6.5em; margin-right: -6.5em">возвращено без рассмотрения</div>
                    </td>
                </tr>
                <tr class="alig-center">
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>


                </tr>
                <tr class="alig-center">
                    <td class="text-left">Подведомственными судами</td>
                    <td>{{yesReinstatementOfTermCourt=((repC.rep.reportCoutrs | filter:{type:2, reinstatementOfTerm:true}).length)}}</td>
                    <td>{{noReinstatementOfTermCourt=((repC.rep.reportCoutrs | filter:{type:2, reinstatementOfTerm:false}).length)}}</td>
                    <td>{{casesCourt=((repC.rep.reportCoutrs | filter:{type:1}).length)}}</td>
                    <td>{{r1Court=((repC.rep.reportCoutrs | filter:{type:1, resultNumber:1}).length)}}</td>
                    <td>{{(r2Court=((repC.rep.reportCoutrs | filter:{type:1, resultNumber:3}).length))+(r3Court=((repC.rep.reportCoutrs | filter:{type:1, resultNumber:4}).length))}}</td>
                    <td>{{r3Court}}</td>
                    <td>{{r4Court=((repC.rep.reportCoutrs | filter:{type:1, resultNumber:2}).length)}}</td>
                    <td>{{r5Court=((repC.rep.reportCoutrs | filter:{type:1, resultNumber:5}).length)}}</td>
                    <td>{{r6Court=((repC.rep.reportCoutrs | filter:{type:1, resultNumber:6}).length)}}</td>
                    <td>{{r7Court=((repC.rep.reportCoutrs | filter:{type:1, resultNumber:7}).length)}}</td>
                    <td>{{r8Court=((repC.rep.reportCoutrs | filter:{type:1, resultNumber:8}).length)}}</td>

                </tr>
                <tr>
                    <td class="text-left">из них рассматривались ранее как не вступившие в законную силу</td>
                    <td>{{(repC.rep.reportCoutrs | filter:{type:2, reinstatementOfTerm:true, senondInstance:true}).length}}</td>
                    <td>{{(repC.rep.reportCoutrs | filter:{type:2, reinstatementOfTerm:false, senondInstance:true}).length}}</td>
                    <td>{{(repC.rep.reportCoutrs | filter:{type:1, senondInstance:true}).length}}</td>
                    <td>{{(repC.rep.reportCoutrs | filter:{type:1, resultNumber:1, senondInstance:true}).length}}</td>
                    <td>{{((repC.rep.reportCoutrs | filter:{type:1, resultNumber:3, senondInstance:true}).length)+(r3CourtSI=((repC.rep.reportCoutrs | filter:{type:1, resultNumber:4, senondInstance:true}).length))}}</td>
                    <td>{{r3CourtSI}}</td>
                    <td>{{(repC.rep.reportCoutrs | filter:{type:1, resultNumber:2, senondInstance:true}).length}}</td>
                    <td>{{(repC.rep.reportCoutrs | filter:{type:1, resultNumber:5, senondInstance:true}).length}}</td>
                    <td>{{(repC.rep.reportCoutrs | filter:{type:1, resultNumber:6, senondInstance:true}).length}}</td>
                    <td>{{(repC.rep.reportCoutrs | filter:{type:1, resultNumber:7, senondInstance:true}).length}}</td>
                    <td>{{(repC.rep.reportCoutrs | filter:{type:1, resultNumber:8, senondInstance:true}).length}}</td>
                </tr>
                <tr>
                    <td class="text-left">Подведомственные другим органам</td>
                    <td>{{yesReinstatementOfTermOther=((repC.rep.otherOrganization | filter:{type:2, reinstatementOfTerm:true}).length)}}</td>
                    <td>{{noReinstatementOfTermOther=((repC.rep.otherOrganization | filter:{type:2, reinstatementOfTerm:false}).length)}}</td>
                    <td>{{casesOther=((repC.rep.otherOrganization | filter:{type:1}).length)}}</td>
                    <td>{{r1Other=((repC.rep.otherOrganization | filter:{type:1, resultNumber:1}).length)}}</td>
                    <td>{{(r2Other=((repC.rep.otherOrganization | filter:{type:1, resultNumber:3}).length))+(r3Other=((repC.rep.otherOrganization | filter:{type:1, resultNumber:4}).length))}}</td>
                    <td>{{r3Other}}</td>
                    <td>{{r4Other=((repC.rep.otherOrganization | filter:{type:1, resultNumber:2}).length)}}</td>
                    <td>{{r5Other=((repC.rep.otherOrganization | filter:{type:1, resultNumber:5}).length)}}</td>
                    <td>{{r6Other=((repC.rep.otherOrganization | filter:{type:1, resultNumber:6}).length)}}</td>
                    <td>{{r7Other=((repC.rep.otherOrganization | filter:{type:1, resultNumber:7}).length)}}</td>
                    <td>{{r8Other=((repC.rep.otherOrganization | filter:{type:1, resultNumber:8}).length)}}</td>
                </tr>
                <tr>
                    <td class="text-left">Всего:</td>
                    <td>{{yesReinstatementOfTermCourt+yesReinstatementOfTermOther}}</td>
                    <td>{{noReinstatementOfTermCourt+noReinstatementOfTermOther}}</td>
                    <td>{{casesCourt+casesOther}}</td>
                    <td>{{r1Court+r1Other}}</td>
                    <td>{{r2Court+r3Court+r2Other+r3Other}}</td>
                    <td>{{r3Court+r3Other}}</td>
                    <td>{{r4Court+r4Other}}</td>
                    <td>{{r5Court+r5Other}}</td>
                    <td>{{r6Court+r6Other}}</td>
                    <td>{{r7Court+r7Other}}</td>
                    <td>{{r8Court+r8Other}}</td>
                </tr>

            </table>
        </div>
    </div>
</div>